<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="UsersEntities" connectionString="metadata=res://*/Users.csdl|res://*/Users.ssdl|res://*/Users.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;Data Source=E:\gitrepos\pacedpsshared\PaceDpsWeb\PaceDpsWeb\App_Data\AspNet_Sqlite_Users.sdf&quot;"
            providerName="System.Data.EntityClient" />
        <add name="AspNet_Sqlite_UsersEntities" connectionString="metadata=res://*/AspNet_Sqlite_Users.csdl|res://*/AspNet_Sqlite_Users.ssdl|res://*/AspNet_Sqlite_Users.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;Data Source=E:\gitrepos\pacedpsshared\PaceDpsWeb\PaceDpsWeb\App_Data\AspNet_Sqlite_Users.sdf&quot;"
            providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>
